

*{
    a:hover {
        text-decoration: none !important;
    }
}

header{
    .logoutIcon, .chatIcon{
        color: #FFF;
        margin-right: .5em;
        padding-top: 0.2em;
    }
}

main{
    padding-top: 5em;
}

