

*{
    a:hover {
        text-decoration: none !important;
    }
}

header{
    .logoutIcon, .chatIcon{
        color: #FFF;
        margin-right: .5em;
        padding-top: 0.2em;
    }
    .mdl-badge{
        margin-right: .3em !important;
    }
}

.mainContainer{
    padding-top: 5em;
}


#challengelabel{
    margin-right: 10rem;
}
#challengeSection{
    justify-content: center;
    margin-left: 280px;
}
#sidebar{
    width: 500px;
    margin-top: 67px;
    margin-left: 75PX;
}

.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
