.logincontent{
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}


#quiz-header {
  .mdc-top-app-bar{
    background-color:#442e63 !important;
  }
}
#quiz-loader {
    position: absolute;
    top: 40%;
    left: calc(50% - 38px);
    width: 100%;
    height: 100%;
    z-index: 99;
  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    user-select: none;
  }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        background: #1b004294;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }      
}

#quiz-snackbar {
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#quiz-snackbar.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

aside#challenge-mdc-dialog, aside#topic-mdc-dialog{
  .mdc-dialog__surface{
    border: 2px solid #ccc;
    max-width: 30em;
  }
  .mdc-dialog__header{
    background: #220748;
    padding-bottom: 1.2em;
    color: #fff;
  }
  .mdc-dialog__body .mdc-button{
    min-width: 20em;
  }
  .mdc-dialog__footer{
    background: #220748;
  }
}


#challengeSection{
  .mdl-color--primary{
    background-color:#442e63 !important;
  }
  #shareChallengesTable{
    .mdl-button--raised.mdl-button--colored{
      background-color:#442e63 !important;

    }
  }
}