#friendsLi{
    display: block;
    span{
        i{
            background: #637382
        }
    }
}

#friendsLi{
    display: flex;
}

#submitSharedChallenge{
    margin-right: 500px;
    margin-left: 20px;
}

.shareChallengesFriendsList{
    margin-left: 77px;
    color:white;
}

#shareChallengesModelHeader{
    background: #545077;
}